---
import '../styles/jngm.css';
import JngmHeader from '../components/JngmHeader.astro';
import JngmNav from '../components/JngmNav.astro';
const { metaTitle, pageTitle } = Astro.props;
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="generator" content={Astro.generator} />
        <title>{metaTitle} | JNGM</title>
    </head>
    <body>
        <JngmHeader pageTitle={pageTitle} />
        <JngmNav />
        <section class="main">
            <slot />
        </section>
    </body>
</html>