// Colours

$clr_darkblue: #0F222E;
$clr_slateblue: #214660;
$clr_tealblue: #1E9C9F;
$clr_khakigreen: #505A34;
$clr_brown: #625921;
$clr_lemonyellow: #E6D676;
$clr_beige: #E9D0A8;
$clr_offwhite: #F0E5D2;

// Typography


// Base styles
body {
    background: $clr_slateblue;
    margin:0;
    padding:0;
}

#blog-header {
    color: $clr_lemonyellow;
}