---
import JngmBaseLayout from "../layouts/JngmBaseLayout.astro";
---
<JngmBaseLayout pageTitle="Portfolio" metaTitle="Portfolio">
    <h2>Coming Soon...</h2>
    <p style="text-align:center">&#x1F449; Insert ironic roadwork animated gif here. &#x1F448;</p>
</JngmBaseLayout>