html {
    background-color: #CCFFEE;
    display: flex;
    flex-direction: column;
    height:100vh;
}

body {
    border: 80px solid #FFE;
    margin:0;
    flex-grow: 1;
    position:relative;
}

header {
    position:fixed;
    top:0;
    left:0;
    background-color: #AADDCC;
    width:160px;
    height:160px;
    z-index:0;
}

header h1.page-title {
    position: fixed;
    left: 80px;
    width:100%;
}

section.main {
    position: relative;
    padding:40px;
    font-size: 1.5rem;
}

nav.site-nav {
    position: fixed;
    bottom:0;
    background-color: #AADDCC;
    height:160px;
    width: calc(100vw - 160px);
    margin-left:80px;
    font-size:1.8rem;
}

.site-nav ul {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin:0;
    padding:0;
    list-style: none;
    width: 100%;
    height:100%;
}

.site-nav li {
    display:block;
    flex-grow:1;
    text-align: center;
}

h1 {
    font-size: 2.8rem;
}