---
import BaseLayout from '../../layouts/JngmBaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");
  
  const allTags = [...new Set(allPosts.map((post:any) => post.data.tags).flat())];

  return allTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) => post.data.tags?.includes(tag));

    return {
        params: { tag: tag }, props: { posts: filteredPosts }
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---
<BaseLayout pageTitle={tag} metaTitle={`Posts by tag ${tag}`}>
  <p>Posts tagged with {tag}</p>
  <ul>
    { posts.map((post: any) => <BlogPost post={post} />)}
  </ul>
</BaseLayout>