---
import BaseLayout from "../../layouts/BaseLayout.astro";
import TagList from "../../components/TagList.astro";

const pageTitle = 'All Tags';
const allPosts = Object.values(import.meta.glob('../posts/*.md', { eager: true }));
const allTags = [...new Set(allPosts.map((post:any) => post.frontmatter.tags).flat())];
---

<BaseLayout pageTitle={pageTitle}>
    <div class="tags">
        <TagList tags={allTags} />
    </div>
</BaseLayout>