---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
import { getCollection } from "astro:content";

const blogPosts = await getCollection("blog");
const pageTitle = 'Blog';
---

<BaseLayout pageTitle={pageTitle}>
	<p>Look at me, I'm using a layout now. No more code duplication, and this list is dynamically generated! &#x1F389;</p>

	<ul>
		{ blogPosts.map((post: any) => <BlogPost url={`/posts/${post.id}/`} title={post.data.title} description={post.data.description} />) }
	</ul>
</BaseLayout>