---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const blogPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = 'Blog';
---

<BaseLayout pageTitle={pageTitle}>
	<p>Look at me, I'm using a layout now. No more code duplication, and this list is dynamically generated! &#x1F389;</p>

	<ul>
		{ blogPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} description={post.frontmatter.description} />) }
	</ul>
</BaseLayout>