---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Blog';
---

<BaseLayout pageTitle={pageTitle}>
	<p>Look at me, I'm using a layout now. No more code duplication &</p>
	<ul>
		<li><a href="/posts/post-1">My First Blog Post</a> - I really hope there's a way to auto-generate these links.</li>
	</ul>
</BaseLayout>