---
import JngmBaseLayout from "../layouts/JngmBaseLayout.astro"
---

<JngmBaseLayout metaTitle="Home" pageTitle="Japanese New-Girl Monkey">
    <p>This is the personal website of one denizen of the World Wide Web who has been
        creeping around the periphery since approximately 2001.
    </p>
    <p>You'll find here mainly a vehicle for sporadic blogging and noodling around
        with web things the way the professional comes home to tinker with things
        adjacent to work but for which there is no commercial impetus.
    </p>
    <p>Watch out: like one Seth Milchick, I tend to use big words.</p>
    <h1>Normal heading level 1</h1>
    <p>Vivamus in ipsum a purus tincidunt posuere. Cras ipsum nisi, elementum eget
        bibendum at, tempor non tellus. Praesent pharetra urna tortor, quis condimentum
        purus mollis sit amet.</p>
    <h2>Normal heading level 2</h2>
    <p>
        Sed rutrum tellus ac erat accumsan pretium. Morbi efficitur euismod commodo.
        Aenean at enim id enim interdum fermentum. Duis eget nisl interdum, viverra
        nunc a, consequat est.
    </p>
    <ul>
        <li>Morbi tempor gravida arcu ut luctus</li>
        <li>Donec at risus vitae</li>
        <li>Etiam aliquam neque lacus, quis consectetur dui dapibus sed</li>
    </ul>
</JngmBaseLayout>