---
import JngmBaseLayout from "../layouts/JngmBaseLayout.astro"
---

<JngmBaseLayout metaTitle="Home" pageTitle="Japanese New-Girl Monkey">
    <p>This is the personal website of one denizen of the world wide web who has been
        creeping around the periphery since approximately 2001.
    </p>
    <p>You'll find here mainly a vehicle for sporadic blogging and noodling around
        with web things the way the professional comes home to tinker with things
        adjacent to work but for which there is no commercial impetus.
    </p>
    <p>Watch out: like one Seth Milcheck, I tend to use big words.</p>
</JngmBaseLayout>