---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Japanese New-Girl Monkey';
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Just Monkeying Around</h2>
	<p>Hello, this is my website.</p>
</BaseLayout>