---
import ArjLogBaseLayout from '../../layouts/ArjLogBaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");
  
  const allTags = [...new Set(allPosts.map((post:any) => post.data.tags).flat())];

  return allTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) => post.data.tags?.includes(tag));

    return {
        params: { tag: tag }, props: { posts: filteredPosts }
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;

const convertToTitleCase = function(someString: string) {
  let result = someString[0].toUpperCase() + someString.substring(1).toLowerCase();
  return result;
};


---
<ArjLogBaseLayout pageTitle={convertToTitleCase(tag)} metaTitle={`Posts by tag: ${tag}`}>
  <p>All posts tagged with <q>{tag}</q></p>
  { posts.map((post: any) => <BlogPost post={post} />)}
</ArjLogBaseLayout>