---
import '../styles/jngm.css';

const { metaTitle, pageTitle } = Astro.props;
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="generator" content={Astro.generator} />
        <title>{metaTitle} | JNGM</title>
    </head>
    <body>
        <slot />
    </body>
</html>