---
import '../styles/portfolio.css';

---
<!DOCTYPE html>
<html>
	<head>
		<title>Online R&eacute;sum&eacute;: Andrea R James</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body class="bg-primary-green">
		<header>
			<nav class="bg-white">
				<ul class="flex gap-4 pt-2 pl-2 pr-2">
					<li class="pt-2 pr-2 pb-2 pl-2 bg-primary-green rounded-t-md"><a href="/portfolio/play">Play</a></li>
					<li class="pt-2 pr-2 pb-2 pl-2"><a href="/portfolio/goals">Career Goals &amp; Ideals</a></li>
					<li class="pt-2 pr-2 pb-2 pl-2"><a href="/portfolio/skills">Skills</a></li>
					<li class="pt-2 pr-2 pb-2 pl-2"><a href="/portfolio/employment">Employment History</a></li>
					<li class="pt-2 pr-2 pb-2 pl-2"><a href="/portfolio/education">Education &amp; Training</a></li>
					<li class="pt-2 pr-2 pb-2 pl-2"><a href="/portfolio/volunteer">Volunteering / Personal Projects</a></li>
					<li class="pt-2 pr-2 pb-2 pl-2"><a href="#print"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-printer"><polyline points="6 9 6 2 18 2 18 9"></polyline><path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"></path><rect x="6" y="14" width="12" height="8"></rect></svg></a></li>
					<li class="pt-2 pr-2 pb-2 pl-2"><a href="#download"><span class="glyphicon glyphicon-download-alt"></span></a></li>
				</ul>
			</nav>
		</header>
		<main>
				<slot />
		</main>
		<script src="../scripts/portfolio.js"></script>
	</body>
</html>