---
import '../styles/portfolio.css';

---
<!DOCTYPE html>
<html>
	<head>
		<title>Online R&eacute;sum&eacute;: Andrea R James</title>
		<meta charset="UTF-8" />
	</head>
	<body>
		<main>
			<div id="resume">
				<nav class="navbar navbar-default navbar-fixed-top" id="resume-navbar">
				    <ul class="nav nav-pills" role="tablist">
				      <li role="presentation"><a href="/portfolio/goals" aria-controls="goals" role="tab" data-toggle="tab" data-key="1">Career Goals &amp; Ideals</a></li>
				      <li role="presentation"><a href="/portfolio/skills" aria-controls="skills" role="tab" data-toggle="tab" data-key="2">Skills</a></li>
				      <li role="presentation"><a href="/portfolio/employment" aria-controls="employment" role="tab" data-toggle="tab" data-key="3">Employment History</a></li>
				      <li role="presentation"><a href="/portfolio/education" aria-controls="education" role="tab" data-toggle="tab" data-key="4">Education &amp; Training</a></li>
				      <li role="presentation"><a href="/portfolio/volunteer" aria-controls="volunteer" role="tab" data-toggle="tab" data-key="5">Volunteering / Personal Projects</a></li>
				      <li role="presentation"><a href="#print"><span class="glyphicon glyphicon-print"></span></a></li>
				      <li role="presentation"><a href="#download"><span class="glyphicon glyphicon-download-alt"></span></a></li>
				    </ul>
				</nav>
				<slot />
			</div>
		</main>
		<script src="../scripts/portfolio.js"></script>
	</body>
</html>